$color-primary: #3366ff;
$color-primary-dark: #0c28a6;
$color-secondary: #ffa502;
$color-secondary-dark: #fa8231;

$color-white: #fff;
$color-grey-light-1: #f0ebe9;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$color-black: #111;

// FONT VARIABLES
$font-primary: 'Rubik', sans-serif;
$font-display: 'Inria Serif', serif;

//bp

$bp-1500: 93.75em;
$bp-1300: 81.25em;
$bp-1100: 68.75em;
$bp-900: 56.25em;
$bp-700: 43.75em;
$bp-600: 37.5em;
$bp-500: 31.25em;
$bp-450: 28.125em;
$bp-400: 25em;
