.bookpage {
  position: relative;
  grid-row: 3 / 4;
  grid-column: 1 / -1;

  background-image: linear-gradient(
      to right,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  @media only screen and (max-width: $bp-900) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 12rem 1fr;
  }

  padding: 1.5rem 4rem;

  &__logo {
    object-fit: cover;

    animation: showUp 2s ease-in-out 1s both;

    grid-row: 2 / 3;
    grid-column: 1 / 2;

    @media only screen and (max-width: $bp-900) {
      display: none;
    }
  }
  &__headings {
    align-self: end;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-900) {
      grid-column: 1 / -1;
      align-items: center;

      justify-content: space-around;
    }
  }
  &__heading {
    font-size: 6.5rem;
  }
  &__subheading {
    padding-left: 0.5rem;
    font-style: italic;
  }
  &__form {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    padding: 5rem 2rem;

    @media only screen and (max-width: $bp-900) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    display: flex;
    justify-content: space-around;

    &__left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media only screen and (max-width: $bp-500) {
        width: 60%;
      }
    }
    &__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__select {
      display: block;
      width: 70%;
      text-align-last: center;
      color: $color-black;
      font-size: 1.6rem;
      padding: 0.4rem 1.2rem;

      background-color: $color-secondary-dark;
      border: 1px solid $color-grey-light-2;
      border-radius: 1rem;

      @media only screen and (max-width: $bp-500) {
        margin-bottom: 1rem;
      }

      &__item {
        display: block;
        text-align-last: center;
        text-align: center;

        padding: 0.3rem 0.8rem;
        background-color: darker($color-secondary-dark, 45%);

        border: 1px solid $color-grey-light-2;
        border-radius: 1rem;
      }

      &:focus {
        outline: none;
      }
    }

    &__input,
    &__textarea,
    &__button {
      font-size: 1.6rem;
      border: 1px solid $color-grey-light-2;
      border-radius: 1rem;
      text-align: center;
      width: 70%;
      padding: 0.4rem 1.2rem;
      resize: none;
      color: $color-grey-light-1;

      transition: all 0.4s;

      @media only screen and (max-width: $bp-1500) {
        width: 80%;
      }
      @media only screen and (max-width: $bp-900) {
        margin: 1rem 0;
      }

      &:placeholder-shown {
        border: 1px solid $color-black;

        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary, 0.9),
          rgba($color-secondary-dark, 0.9)
        );
        background-color: none;
        color: $color-grey-light-2;
      }
      border: 1px solid $color-black;
      color: $color-black;
      background-color: $color-primary;
      background-image: none;

      &:focus {
        outline: none;
        transform: translateX(0.6rem);
        border: 3px solid darken($color-primary-dark, 20%);
      }
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &__textarea {
      padding: 1.2rem 2rem;
      text-align: left;
      color: $color-black;
      font-size: 1.8rem;
    }
    &__button {
      cursor: pointer;
      padding: 1rem 0.5rem;
      border: 2px solid $color-black;
      font-size: 1.2rem;

      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.9),
        rgba($color-secondary-dark, 0.9)
      );
      transition: all 0.2s;
      &:hover {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary, 1),
          rgba($color-secondary-dark, 1)
        );
      }
      &:focus {
        border: none;
      }
      &:active {
        transform: translateY(0.5rem);
      }
    }
  }
}

.bookpage__nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 20%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 15;

  background-image: linear-gradient(
    to right bottom,
    rgba($color-secondary, 1),
    rgba($color-secondary-dark, 1)
  );

  @media only screen and (max-width: $bp-500) {
    width: 40%;
  }
}
