.description {
  grid-row: description-start / description-end;
  grid-column: full-start / full-end;
  padding: 5rem;
  padding-bottom: 0;

  display: grid;
  grid-template-rows: repeat(3, min-content);

  &__photosAndInfo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 4fr 3fr;
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
  }

  &__photo {
    width: 100%;

    transition: all 0.2s;
    &:hover {
      transform: translateY(1.5rem);
    }

    &--1 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    &--2 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    &--3 {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
  }
  &__info {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding: 2rem 8rem;
    text-align: center;
  }
}
