.features {
  grid-column: full-start / full-end;

  padding: 5rem 0;

  display: grid;
  grid-template-rows: repeat(2, min-content);

  &__container {
    text-align: center;
  }

  &__content {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.9),
      rgba($color-primary, 0.9)
    );
    background: radial-gradient(
      circle,
      rgba($color-primary, 0.9) 0%,
      rgba($color-primary-dark, 0.9) 50%
    );
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-gap: 3rem;
    align-items: center;
    justify-items: center;
    padding: 6rem 3rem;
    border-radius: 2px;

    @media only screen and(max-width: $bp-1100) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &__icon {
        height: 3rem;
        width: 3rem;
        fill: $color-white;

        &:hover {
          animation: pulse 1s ease-out infinite both;
          fill: $color-secondary-dark;
        }
      }
      &__heading {
        margin: 0.5rem 0;
      }
      &__paragraph {
        font-size: 1.2rem;
        padding: 0 0.5rem;
        word-wrap: wrap;
      }
    }
  }
}
