.loginpage {
  position: relative;
  &__form {
    position: absolute;
    top: 20rem;
    left: 8rem;
    width: calc(100% - 8rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: $bp-700) {
      left: 0;
      top: 20rem;
      width: 100%;

      align-items: center;
    }
  }

  &__input {
    width: 30%;
    color: $color-black;
    font-family: $font-primary;
    font-size: 1.6rem;
    padding: 1rem 2rem;

    margin-bottom: 1rem;
    margin-left: 1rem;

    @media only screen and (max-width: $bp-700) {
      width: 50%;
      margin: 1rem 0;
    }

    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.75),
      rgba($color-primary, 0.75)
    );

    border: 1px solid $color-grey-light-2;
    border-radius: 1rem;
    transition: all 0.4s;

    &:focus {
      outline: none;
      transform: translateX(1rem);
      border: 3px solid $color-primary-dark;
    }
  }
  &__select {
    background-color: $color-primary;
    width: 30%;
    padding: 1.2rem 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    @media only screen and (max-width: $bp-700) {
      width: 50%;
      margin: 1rem 0;
    }
  }
  &__btn {
    width: 30%;
    margin-left: 1rem;
    color: $color-black;
    font-family: $font-primary;
    font-size: 1.6rem;
    @media only screen and (max-width: $bp-700) {
      width: 60%;
      margin: 1rem 0;
    }

    border: 1px solid $color-grey-light-2;
    border-radius: 1rem;
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
    width: 20%;

    @media only screen and (max-width: $bp-700) {
      width: 40%;
    }
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;

    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary, 1),
      rgba($color-secondary-dark, 1)
    );
  }
}
