.reviews {
  grid-row: reviews-start / reviews-end;
  grid-column: full-start / full-end;

  &__content {
    display: flex;
    justify-content: space-between;
    //align-items: center;
  }
  &__left,
  &__right {
    width: 45%;
    padding: 3rem 1rem;
    color: #aaa;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 4fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
    align-items: center;
    justify-items: center;

    @media only screen and(max-width: $bp-1100) {
      grid-row-gap: 1rem;
      grid-column-gap: 0.8rem;
    }
    @media only screen and(max-width: $bp-1100) {
      padding: 2rem 0;
    }
  }
  &__left {
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.9),
      rgba($color-primary, 0.9)
    );
    @media only screen and(max-width: $bp-1100) {
      padding-right: 5px;
    }
  }
  &__right {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(
      to left bottom,
      rgba($color-primary-dark, 0.9),
      rgba($color-primary, 0.9)
    );
    @media only screen and(max-width: $bp-1100) {
      padding-left: 5px;
    }
  }

  &__photo {
    border-radius: 50%;
    border: 1px solid $color-primary;
    transition: all 0.3s;
    width: 100%;
  }
  &__image {
    width: 100%;

    &--1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    &--2 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
    &--3 {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
    &--4 {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
    }
  }
  &__text {
    font-size: 1.2rem;
    width: 100%;
    word-wrap: break-word;

    &--1 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    &--2 {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
    &--3 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    &--4 {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
  }

  &__middle {
    width: 10%;
    height: 100%;
    border-bottom: 1px solid $color-primary;
  }
  &__logo {
    margin-top: 5rem;
    width: 100%;
  }
}
