.rooms {
  grid-column: full-start / full-end;

  padding: 3rem;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-gap: 8rem;

    @media only screen and (max-width: $bp-1500) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    @media only screen and (max-width: $bp-600) {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }
  }
}
